/* General Reset */
body{
	margin:0;
	color:#2c3e50;
	font:400 16px/24px 'Open Sans', sans-serif;
	background:#fff;
	min-width:320px;
	position:relative;
	height:100%;
}
img{border-style:none;}
input,
textarea,
select{
	color:#2c3e50;
	vertical-align:middle;
	font:100% Raleway, sans-serif;
	-webkit-appearance:none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	-webkit-appearance:none;
	cursor:pointer;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
blockquote, q{quotes:none;}
q:before,
q:after{content:'';}
a{
	color:#2c3e50;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:focus,
input:focus,
textarea:focus,
select:focus{outline:none;}
/* General settings */
.color{color:#e74c3c;}
.red .color{color:#e74c3c;}
.yellow .color{color:#f1c40f;}
.violet .color{color:#9b59b6;}
.sea-green .color{color:#1abc9c;}
.green .color{color:#2ecc71;}
.blue .color{color:#3498db;}
.colored{
	color:#fff;
	display:block;
	background:#7e8c8d;
	text-align:center;
	padding:8px 10px;
	margin-bottom:20px;
}
/* Documentation section */
.documentation-section{
	background:#ecf0f1;
	min-width:1170px;
}
.documentation-section .holder{
	width:1170px;
	margin:0 auto;
}
.documentation-section .side-bar{
	position:fixed;
	z-index:100;
	top:0;
	bottom:0;
	background:#fff;
	padding:46px 0;
	-webkit-box-shadow:1px 0 3px #ced4d7;
	-moz-box-shadow:1px 0 3px #ced4d7;
	box-shadow:1px 0 3px #ced4d7;
	width:270px;
}
.documentation-section .logo{
	display:block;
	background:url(../images/logo.jpg) no-repeat;
	width:127px;
	height:36px;
	margin:40px auto 60px;
	text-indent:-9999px;
}
.documentation-section .logo:hover{
	text-decoration:none;
	color:#2c3e50;
	cursor:pointer;
}
.documentation-section .doc-info{
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
	letter-spacing:-0.5px;
}
.documentation-section .doc-info li{border-bottom:1px solid #ecf0f1;}
.documentation-section .doc-info a{
	padding:8px 26px 7px;
	display:block;
}
.documentation-section .doc-info a:hover{
	background:#bdc3c7;
	color:#fff;
	text-decoration:none;
}
.documentation-section .doc-info .active a{
	color:#fff;
	background:#34495e;
}
.documentation-section .section-info{
	position:relative;
	padding:209px 0;
	color:#34495e;
	font-size:18px;
	line-height:24px;
}
.documentation-section .section-info .title-holder{
	position:relative;
	font-size:24px;
	line-height:28px;
	padding-bottom:29px;
	margin-bottom:42px;
}
.documentation-section .title-holder:after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:2px;
	background:#34495e;
	border-bottom:1px solid #fff;
}
.documentation-section .title-holder h2{
	font:26px/32px Raleway, sans-serif;
	margin:0 0 20px;
}
.documentation-section .section-info .title-holder p{margin:0;}
.documentation-section .section-info .info-list{
	margin:0;
	padding:0 0 48px;
	list-style:none;
}
.documentation-section .section-info .info-list li{margin-bottom:24px;}
.documentation-section .section-info p{margin:0 0 20px;}
.documentation-section .section-info a{color:#e74c3c;}
.documentation-section .pre-title{
	display:block;
	font-size:30px;
	line-height:34px;
}